* {margin: 0; padding: 0;}

header {display: block;padding: 4px 10px;height: 40px;overflow: hidden;}
header div.logo img {height: 30px;}

div.content {display: block;}

footer {margin-top: 3em;display: block;padding: 0.5em 0 0.5em 0;text-transform: uppercase;font-weight: 300;color: #737373;background: #333;}